<a href="https://colab.research.google.com/github/Donovanmar/Curso-de-introduccion-a-Big-Data-Parte-1-nov2021/blob/main/practica2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
!help

In [2]:
man find

In [ ]:
!find / -name '*.ipynb'

In [4]:
# comentario1

In [8]:
"""
lectura de variable por teclado
y conversion de tipo numerico a operar

"""
num = input("Dame un número ")
print("Tu número es", num)
print("Tu número por 5 veces es:", num*5)
"""
 lo convertimos a entero
"""
num = int(num)
print("Tu número multiplicado por 5 es", num*5)

Dame un número 5
Tu número es 5
Tu número por 5 veces es: 55555
Tu número multiplicado por 5 es 25

In [9]:
type (num) #Para pedir el tipo de variable de 'num'

int

In [10]:
num = 10//3
type (num)
print (num)

3

In [11]:
num = 10/3
print(num)
type (num)

3.3333333333333335

float

In [12]:
num = 10%3
print (num)

1

In [14]:
nombre = "Donovan"
print(nombre)
type(nombre) #Tipo String

Donovan

str

In [16]:
num = int(input("Dame un número: "))
mayor = (10>num)
print(mayor)
type(mayor)

Dame un número: 11
False

bool

In [17]:
if (num == 5):
  print("Tu número es 5")
else:
  print ("Tu número es diferente de 5")

Tu número es diferente de 5

In [18]:
if (num != 5):
  print ("Tu número es diferente de 5")
else:
  print ("Tu número es 5")

Tu número es diferente de 5

In [22]:
num = int(input("Dame un número: "))
if (num >=10 and num<=15):
  print ("Número entre 10 y 15")
elif (num >15): #Si no si = elif
  print ("Número mayor que 15")
else:
  print ("Número menor que 15")

Dame un número: 16
Número mayor que 15

In [23]:
lista = range (6) #Lista desde el 0 al 5
for i in lista: #Para diferentes vueltas con los elemntos de la lista
  print(i)

0
1
2
3
4
5

In [24]:
lista = range (3,6)
print(list(lista)) #lista o array en horizontal
print("La lista tiene", len(lista), "elementos")

[3, 4, 5]
La lista tiene 3 elementos

In [25]:
lista = range (3,20,2) #El número 2 es para ir de 2 en 2, si fuera 3 iría de 3 en 3
list(lista)

[3, 5, 7, 9, 11, 13, 15, 17, 19]

In [26]:
nombre = "Donovan"
n_mayus = nombre.upper() #Pasar a mayúsculas
print(n_mayus)
print(nombre[2]) #Letra posición 2 desde el 0
len(nombre) #length = longitud del string

DONOVAN
n

7

In [27]:
nombres = ["María","Pedro","Juan","Carmen"]
print(nombres[2])
print(type(nombres))
del nombres[2] #Para eliminar elemento de la lista
print(nombres)
nombres.insert(3,"Jose")
print(nombres)
print("Para ver la posición donde se encuentra un valor usamos index, Carmen se encuentra en la posición: ",nombres.index("Carmen"))
print(nombres)
print("Para ver los elementos de la posición 1 a la 2, pongo un 3 al final!", nombres[1:3])
nombres.append("Susana")
print(nombres)
print("Para ver los elementos de 2 en 2: ", nombres [::2])
print("Para ver los elementos en orden invertido uso -1: ", nombres[::-1])

for i in nombres:
  print(i)

Juan
<class 'list'>
['María', 'Pedro', 'Carmen']
['María', 'Pedro', 'Carmen', 'Jose']
Para ver la posición donde se encuentra un valor usamos index, Carmen se encuentra en la posición:  2
['María', 'Pedro', 'Carmen', 'Jose']
Para ver los elementos de la posición 1 a la 2, pongo un 3 al final! ['Pedro', 'Carmen']
['María', 'Pedro', 'Carmen', 'Jose', 'Susana']
Para ver los elementos de 2 en 2:  ['María', 'Carmen', 'Susana']
Para ver los elementos en orden invertido uso -1:  ['Susana', 'Jose', 'Carmen', 'Pedro', 'María']
María
Pedro
Carmen
Jose
Susana